PORT=8000
NODE_ENV=development  

# Database (MongoDB Atlas)
MONGODB_URI=

# JWT Authentication
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary (Image Uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Service - Ethereal (Testing)
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=

# Email Service - Gmail (Production / Real Emails)
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Email sender details
FROM_NAME=StackCart 
FROM_EMAIL=no-reply@stackcart.com

# OpenAI / Gemini keys
OPENAI_API_KEY=
GEMINI_API_KEY=
